<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.itemis.de/iap/IAPDSL"
			class = "de.itemis.iap.iAPDSL.IAPDSLPackage"
			genModel = "model/generated/IAPDSL.genmodel" />
	</extension>
</plugin>
