<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="de.itemis.iac.diagram.Activator"
               id="de.itemis.iac.diagram"
	       name="iac.diagram">
    </component>
  </extension>
</plugin>
